@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Thin_Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Light_Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Medium_Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_ExtraBold_Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Larken";
  src: url("/fonts/Larken_Black_Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}